@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");

body {
  padding-top: 89px;
  width: 100vw;
  height: 100vh;
  background: #ffffff;
  font-family: "Manrope";
  background-image: url("./images/bg-pattern.svg");
  background-size: 100vw;
  background-repeat: no-repeat;
  position: relative;
}
.circles {
  position: absolute;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  top: 57px;
  z-index: -100;
}

header {
  margin-bottom: 64px;
}
h1 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #293356;
  margin-bottom: 8px;
}

header p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 23px;
  text-align: center;
  color: #848ead;
  width: 50%;
  margin: 0 auto;
}

main {
  background: #ffffff;
  box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
  border-radius: 8px;
  width: 87.2%;
  margin: 0 auto;
}
.mobile {
  display: none;
}

.paying-condition {
  padding: 34px 24px 38px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.pageviews {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
  gap: 5px;
}

.desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 34px;
  gap: 10px;
}

.desktop p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 44px;
  text-align: right;
  letter-spacing: -0.8px;
  color: #293356;
}

.billing-period {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: linear-gradient(
    to right,
    hsla(174, 77%, 80%) 0%,
    hsla(174, 77%, 80%) 50%,
    hsla(225, 64%, 95%) 0%,
    hsla(225, 64%, 95%) 100%
  );
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgba(16, 216, 196, 1);
  box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
  background-image: url("./images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  /* cursor: pointer; */
}

.billing-period p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #848ead;
}

.month {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #848ead;
}
.switch input {
  opacity: 0;
}

.switch {
  display: inline-block;
  width: 40px;
  height: 20px;
  background: #cfd8ef;
  border-radius: 15px;
  margin-left: 12px;
  margin-right: 12px;
  position: relative;
}

.toggle-slider {
  position: absolute;
  border-radius: 25px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 2 ease;
  cursor: pointer;
}

.toggle-slider::before {
  content: "";
  position: absolute;
  background: #ffffff;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  left: 3px;
  top: 3px;
}
.switch input:checked + .toggle-slider {
  background-color: rgba(16, 216, 196, 1);
}

.switch input:checked + .toggle-slider::before {
  transform: translateX(21px);
}
.pageviews span,
.views {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 1.71429px;
  text-transform: uppercase;
  color: #848ead;
}
.discount {
  display: flex;
  align-self: start;
  background: #feede8;
  border-radius: 9.5px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  color: #ff8d68;
  padding: 2px 6px 3px 7px;
  margin-left: 5.5px;
}
.for-mobile {
  display: flex;
}
.for-desktop {
  display: none;
}

.line {
  width: 100%;
  height: 1px;
  background: #ecf0fb;
  margin-top: 38px;
}
.box {
  padding: 24px 80px 32px 77px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bullets {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-bottom: 33px;
}

.bullets span {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #848ead;
}
.submit {
  background: #293356;
  border-radius: 20.5px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #becdff;
  padding: 12px 36px;
  border: transparent;
  cursor: pointer;
}

@media screen and (min-width: 1440px) {
  header h1 {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
  }

  header p {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
  }

  main {
    width: 37.5%;
  }

  .box {
    flex-direction: row;
    padding: 32px 44px 33px 48px;
    justify-content: space-between;
  }
  .bullets {
    margin-bottom: 0;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: flex;
    align-items: center;
  }

  .billing-period {
    margin-top: 40px;
    margin-left: 80px;
    gap: 16px;
  }
  .paying-condition {
    flex-direction: row;
    justify-content: space-between;
  }
  .view-price {
    padding: 40px 48px 40px 46px;
  }

  .pageviews {
    margin-bottom: 0px;
  }
  .pageviews span,
  .views {
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 2px;
  }
  .month {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #848ead;
  }
  .mobile p {
    font-size: 40px;
    line-height: 55px;
    text-align: right;
    letter-spacing: -1px;
  }

  .discount {
    gap: 5px;
  }
  .for-mobile {
    display: none;
  }
  .for-desktop {
    display: block;
  }
}
